<div class="content-right-block">
						<p><span class="name2">service</span> <span class="name1">area</span></p>
						<ul class="content-right-links">
							<li>Proudly serving <a href="/about_me/"><b>Central Florida</b></a> (Lake, Orange, Osceola, Seminole, & Volusia Counties)</li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">about</span> <span class="name1">aid &amp; attendance</span></p>
						<ul class="content-right-links">
							<li>What is the <a href="/articles/what_veterans_aid_attendance_pension_benefit/"><b>Veterans Aid & Attendance pension benefit?</b></a></li>
							<li><a href="/articles/who_is_eligible_aid_attendance_pension_benefit/"><b>Who is eligible</b></a> for the Veterans Aid & Attendance pension benefit?</li>
							<li>The special case of <a href="/articles/understanding-long-term-medical-costs/"><b>Long Term Medical Costs.</b></a></li>
							<li>Using aid & attendance to pay <a href="/articles/aid-and-attendance-pay-any-person-care-in-home/"><b>any person for care at home.</b></a></li>
							<li>Using aid & attendance for <a href="/articles/aid-and-attendance-professional-home-care-services/"><b>professional home care.</b></a></li>
							<li>Using aid & attendance for <a href="/articles/aid-and-attendance-assisted-living/"><b>to pay for assisted living.</b></a></li>
							<li>Using aid & attendance for <a href="/articles/aid-and-attendance-nursing-home/"><b>to pay for a nursing home.</b></a></li>
							<li><a href="/articles/understanding-application-process-for-aid-and-attendance-pension/"><b>The application process</b></a> for aid and attendance Pension.</li>
							<li>Using an aid & attendance <a href="/articles/using-veterans-aid-and-attendance-benefit-consultant/"><b>benefits consultant.</b></a></li>
							<li>When the family can <a href="/articles/when-family-can-submit-application-without-help/"><b>submit a claim without help.</b></a></li>
							<li>When the family should <a href="/articles/when-family-should-use-benefits-consultant/"><b>use a benefits consultant.</b></a></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">free</span> <span class="name1">booklet</span></p>
						<ul class="content-right-links">
							<li><a href="/assets/MichaelTucker_Veterans_Booklet.pdf"><img src="/images/booklet.jpg" width="180" height="259" class="border-full"></a></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">eldercare</span> <span class="name1">sites</span></p>
						<ul class="content-right-links">
							<li><a href="/articles/disability-compensation-and-smc/"><b>Disability Compensation & SMC</b></a></li>
							<li><a href="/articles/dependency-and-indemnity-compensation/"><b>Dependency and Indemnity (DIC)</b></a></li>
							<li><a href="/articles/burial-and-memorial-benefits/"><b>Burial and Memorial Benefits</b></a></li>
							<li><a href="/articles/hisa-grants/"><b>HISA Grants</b></a></li>
							<li><a href="/articles/state-veterans-homes/"><b>State Veterans Homes</b></a></li>
							<li><a href="/articles/best-health-care-system-in-america/"><b>The Best Health Care System</b></a></li>
							<li><a href="/articles/veterans-health-administration-long-term-care-benefits/"><b>VA Health Administration</b></a></li>
							<li><a href="/articles/enrolling-in-veterans-health-care-system/"><b>Enrolling in Veterans Health Care</b></a></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">eldercare</span> <span class="name1">sites</span></p>
						<ul class="content-right-links">
							<li><a href="http://www.longtermcarelink.net/"><b>National Care Planning Council</b></a></li>
							<li><a href="http://michaeltuckerlaw.com/"><b>Law Office of I. Michael Tucker, PLC</b></a></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->