<div class="content-right-block">
						<p><span class="name2">service</span> <span class="name1">area</span></p>
						<ul>
							<li>Proudly serving <b>Central Florida</b> (Lake, Orange, Osceola, Seminole, & Volusia Counties)</li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">about</span> <span class="name1">aid &amp; attendance</span></p>
						<ul class="content-right-links">
							<li>What is the <b>Veterans Aid & Attendance pension benefit?</b></li>
							<li><b>Who is eligible</b> for the Veterans Aid & Attendance pension benefit?</li>
							<li>The special case of <b>Long Term Medical Costs.</b></li>
							<li>Using aid & attendance to pay <b>any person for care at home.</b></li>
							<li>Using aid & attendance for <b>professional home care.</b></li>
							<li>Using aid & attendance for <b>to pay for assisted living.</b></li>
							<li>Using aid & attendance for <b>to pay for a nursing home.</b></li>
							<li><b>The application process</b> for aid and attendance Pension.</li>
							<li>Using an aid & attendance <b>benefits consultant.</b></li>
							<li>When the family can <b>submit a claim without help.</b></li>
							<li>When the family should <b>use a benefits consultant.</b></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">free</span> <span class="name1">booklet</span></p>
						<ul class="content-right-links">
							<li><img src="/images/booklet.jpg" width="180" height="259" class="border-full"></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">eldercare</span> <span class="name1">sites</span></p>
						<ul class="content-right-links">
							<li><b>Disability Compensation & SMC</b></li>
							<li><b>Dependency and Indemnity (DIC)</b></li>
							<li><b>Burial and Memorial Benefits</b></li>
							<li><b>HISA Grants</b></li>
							<li><b>State Veterans Homes</b></li>
							<li><b>The Best Health Care System</b></li>
							<li><b>VA Health Administration</b></li>
							<li><b>Enrolling in Veterans Health Care</b></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->
					<div class="content-right-block">
						<p><span class="name2">eldercare</span> <span class="name1">sites</span></p>
						<ul class="content-right-links">
							<li><b>National Care Planning Council</b></li>
							<li><b>Law Office of I. Michael Tucker, PLC</b></li>
						</ul>
					</div> <!-- close div class="content-right-block" -->