<div class="banner">
					<img src="/images/header2.jpg" width="295" height="95">
					<img src="/images/Spacer10.jpg" width="7" height="7">
					<img src="/images/header.jpg" width="458" height="95">
				</div> <!-- close div class="banner" -->
				<div class="navbar">
					<ul class="nav-list">
						<li class="nav-item"><a href="#">home</a></li>
						<li class="nav-item"><a href="#">articles</a></li>
						<li class="nav-item"><a href="#">what's new</a></li>
						<li class="nav-item"><a href="/about_me/">about me</a></li>
						<li class="nav-item"><a href="/contact_me/">contact me</a></li>
					</ul>
					<img src="/images/header3.jpg" width="760" height="10">
				</div> <!-- close div class="navbar" -->